{% extends "::base.html.twig" %}

{% block title %}WCSGoT{% endblock %}

	{% block body %}
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div>
						<div class="col-md-4 col-md-offset-1">
							<div class="profile-card text-center">
								<img class="img-responsive" src="http://hd4wallpapers.net/wp-content/uploads/2016/03/Game-Of-Thrones-Iphone-Wallpaper-Hd.jpg">
								<div class="profile-info">

									<!--<img class="profile-pic" src="https://pbs.twimg.com/profile_images/711000557742395396/jzm8hqwW.jpg">-->

									<h2 class="hvr-underline-from-center">Personnages<span>Ajout / Suppression</span></h2>
									<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
									<a href="{{path('wcs_got_perso_add')}}">Add</a>
									<a href="{{path('wcs_got_perso_list', {'sexe' : 'F'})}}">List F</a>
									<a href="{{path('wcs_got_perso_list', {'sexe' : 'M'})}}">List M</a>
								</div>

							</div>
						</div>

						<div class="col-md-4 col-md-offset-2">
							<div class="profile-card text-center">

								<img class="img-responsive" src="http://pichdwallpaper.com/wp-content/uploads/2014/12/Game-of-thrones-house.jpg">
								<div class="profile-info">

									<!--<img class="profile-pic" src="https://pbs.twimg.com/profile_images/711000557742395396/jzm8hqwW.jpg">-->

									<h2 class="hvr-underline-from-center">Royaumes<span>Ajouts</span></h2>
									<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
									<a href="{{path('wcs_got_royaume_list')}}">Add</a>
									<a href="{{path('wcs_got_royaume_list')}}">List</a>
								</div>

							</div>
						</div>

					</div>
				</div>
			{% endblock %}
